html {
  scroll-behavior: smooth;
}
/*This is the code for the html page*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*This is the code for the body*/
body {
  min-height: 700vh;
  margin: 0;
  padding: 0;
  /* overflow-y: hidden; */
  overflow-x: hidden;
  scrollbar-width: 2px;
  scrollbar-color: red;
}
/*This is the code for the main container*/
.main-container {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  height: 100vh;
  background: transparent;
  background-size: cover;
}
/*This is the code for the image*/
.img {
  position: absolute;
  z-index: -99;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: blur(1.5px);
}
/*This is the code for the nav container*/
.container {
  display: flex;
  align-items: center;
  justify-content: right;
  height: 10vh;
  width: 100%;
  padding: 0px 50px 0px 30px;
  position: sticky;
  top: 0;
  background-color: transparent;
  list-style-type: none;
  z-index: 1000;
  gap: 40px;
  margin-top: 10px;
}
/*This is the code for the nav links*/
.container li a {
  text-transform: capitalize;
  font-weight: 500;
  text-decoration: none;
  font-size: 1.8rem;
  font-family: sans-serif;
  color: #33691e;
  transition: color 350ms ease-in-out;
}
/*This is the code for the hover effect on the nav links*/
#text:hover {
  color: #33691e;
}
/*This is the code for the logo */
.logo {
  position: relative;
  scale: 0.08;
}
/* This is the code for the main text */
#main-text {
  position: relative;
  top: 20%;
}
.main-text-1 {
  font-size: 3rem;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  /* color: #64b309;*/
  text-transform: uppercase;
  color: white;
  position: relative;
}

.main-text-2 {
  font-size: 6rem;
  color: white;
  font-family: sans-serif;
  text-transform: uppercase;
  transition: background-fill 350ms;
}

.btn {
  position: relative;
  top: 30%;
  height: 70px;
  width: 220px;
  border-radius: 5px;
  border-width: 0px;
  border-style: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  background-color: #ffc800;
  text-transform: uppercase;
}
.btn:hover {
  background-color: #f0bf0af2;
}
.services-container {
  height: 100vh;
  width: 100%;
  background-color: wheat;
}

/* This is the styling for the services main container  */
#services {
  background-color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
}
.services-text {
  font-size: 4rem;
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  top: 13%;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}
.services-text:hover {
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.icon-container {
  position: relative;
  margin-top: 6rem;
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 1rem;
}
.container-1 {
  padding: 1rem;
  text-align: center;
  height: 60%;
  width: 50%;
  filter: grayscale(0);
  transition: all 350ms;
}
.container-1:hover {
  filter: grayscale(10);
}
.container-2 {
  height: 60%;
  text-align: center;
  width: 50%;
  padding: 1rem;
  filter: blur(1px);
  filter: grayscale(0);
  transition: all 350ms;
}
.container-2:hover {
  filter: grayscale(10);
}
.container-3 {
  text-align: center;
  height: 60%;
  width: 50%;
  padding: 1rem;
  filter: blur(1px);
  filter: grayscale(0);
  transition: all 350ms;
}
.container-3:hover {
  filter: grayscale(10);
}
.cart {
  border: 1px solid yellow;
  background-color: #ffc800;
  background-size: contain;
  border-radius: 30%;
  padding: 30px;
  height: auto;
  width: 30%;
}
.cart-text {
  margin-top: 5em;
}
.laptop {
  border: 1px solid yellow;
  background-color: #ffc800;
  background-size: contain;
  border-radius: 30%;
  padding: 40px;
  height: auto;
  width: 30%;
}
.laptop-text {
  margin-top: 5em;
}
.lock {
  border: 1px solid yellow;
  background-color: #ffc800;
  background-size: contain;
  border-radius: 30%;
  padding: 30px;
  height: auto;
  width: 30%;
}
.lock-text {
  margin-top: 2rem;
}
#portfolio {
  height: 200vh;
  width: 100%;
  background-color: rgb(225, 224, 224);
  display: flex;
  flex-direction: column;
  text-align: center;
  /* gap: 5%; */
}
#portfolio-letter {
  text-align: center;
  font-family: sans-serif;
}
.portfolio-text {
  margin-top: 14%;
  font-size: 3rem;
  text-transform: uppercase;
}
.portfolio-para {
  margin-top: 0px;
  margin: 0%;
}
/* This is the section for the portolio  */
.img-container {
  height: 180vh;
  width: 90wh;
  background-color: rgb(225, 224, 224);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  gap: 1rem;
  margin-top: 5%;
}
.img-container h1 {
  font-size: 3rem;
  font-family: sans-serif;
}
.img-container p {
  font-size: 1.5rem;
}
.img-container-1 {
  height: 30%;
  width: 30%;
}
.watch {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.img-container-2 {
  height: 30%;
  width: 30%;
  /* border: 1px solid red; */
}
.shoes {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.img-container-3 {
  height: 30%;
  width: 30%;
  /* border: 1px solid red; */
}
.coke {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.img-container-4 {
  height: 30%;
  width: 30%;
  /* border: 1px solid red; */
  padding: 3px;
}
.laptop-2 {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.img-container-5 {
  height: 30%;
  width: 30%;
  /* border: 1px solid red; */
}
.perfume {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.img-container-6 {
  height: 30%;
  width: 30%;
  /* border: 1px solid red; */
}
.shoes {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
